:root {
  --coloor-text: #13183f;
  --color-main: #fff;
  --color-text-lead: #83869a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
img,
video,
svg,
picture {
  display: block;
  max-width: 100%;
}
input,
textarea,
button,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
/* mobile style  */

body {
  line-height: 1.5;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

/* button  style */
.btn {
  border: none;

  color: var(--color-main);
}
.btn-header {
  background-color: var(--coloor-text);
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 28px;
  padding: 1rem 2rem;
}
.btn-hero {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  padding: 0.93em 2.31em;
  font-size: 1.7rem;
  font-weight: 700;
}

/* mobile-first design */

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em 2em;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-logo {
  height: 2.1875rem;
}
.info-hero {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.hero-title {
  font-size: 4rem;
  font-weight: 800;
  color: var(--coloor-text);
  margin-top: 2.375rem;
}
.hero-lead {
  color: var(--color-text-lead);
  font-weight: 500;
  font-size: 1.6rem;
  margin: 33px 0;
}
